.input {
  height: 50px;
  width: 80%;
  border-radius: 12px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.text {
  background: none;
  border: none;
  margin-left: 12px;
  flex: 1;
}
.text:focus {
  outline: none;
}
.button {
  margin-right: 8px;
  background-color: rgb(214, 213, 213);
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 50px;
  cursor: pointer;
}
.error {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: -0.3rem;
}
.no__error {
  display: none;
}
